<div class='card'>
    <form (ngSubmit)="Addbook()">
<div class='card-header'>
 ADD NEW BOOK
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Title</label></td>
              <td><input type="text" name="p_id" [(ngModel)]="bookItem.title"/></td>                  
            </tr>   
            <tr>
                <td><label>Author</label></td>
                <td><input type="text" name="p_name" [(ngModel)]="bookItem.author"/></td>                  
              </tr>  
              <tr>
                <td><label>Genre</label></td>
                <td><input type="text" name="p_code" [(ngModel)]="bookItem.genre"/></td>                  
              </tr>  
              <tr>
                <td><label>Pages</label></td>
                <td><input type="number" name="p_date" [(ngModel)]="bookItem.pages"/></td>                  
              </tr>  
              <tr>
                <td><label>Language</label></td>
                <td><input type="text" name="p_desc" [(ngModel)]="bookItem.lang"/></td>                  
              </tr>  
              <tr>
                <td> <label>Translated To</label></td>
                <td><input type="text" name="p_price" [(ngModel)]="bookItem.trans"/></td>                  
              </tr>  
             
              <tr>
                <td><label>Image</label></td>
                <td><input type="file" (change)="createFormData($event)"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>
